<%- include('../parts/head', {bot, user, path}) %>
<title>Ban Appeal | Discord Bots</title>

<div class="container px-3 content is-widescreen pt-5"><div class="container alert alert-danger alert-dismissible fade show" role="alert"><i class="fa fa-exclamation-circle"></i> We are still in<strong> Beta</strong>.<br>Please report any bug related issues to <a rel="nofollow" href="https://discord.gg/DpvFUzRNSR">JoKeR#4571</a><br><h4>Thank you</h4></div><div class="bg-vote-dbost-list pt-5"><div class="card mb-4"><center><h5 class="card-header" style="color:#fafafa">Ban Appeal</h5></center><div class="card-body"><p class="mb-0"></p><center><h3 class="comingsoon"></h3><h2>We are currently working on this section</h2><br>A ban appeal can be done if you feel like the ban was unfair or if you learned from your mistakes. You may only appeal once and success is not guaranteed.</center><p></p></div></div><center><button onclick="location.href=&quot;/botlist/ban-appeal-app&quot;" class="btn btn-dbost-list" style="background-color:rgba(255,0,0,.5)" role="button"><i class="fad fa-check"></i>&nbsp;Start Appeal</button></center></div></div>

<%- include('../parts/foot') %>