<%- include('parts/head', {bot, user, path}) %>

<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-vcodes pt-5">
<div class="bg-vote-vcodes pt-5">
<h3 class="has-text-white is-size-3" style="margin-bottom: 10px;"> </h3>
<center>
<h3 style="color:white; text-shadow: 2px 2px 5px black;" translate="no" color="" id="fat">Promotion Packages
</h3>
</center>
<p class="text-muted">
<strong>Package 1</strong>
<span class="badge badge-danger">5$ Or Nitro Classic - (1 year)</span>
<br>Your bot will be on Promoted Bots Page.
<br><strong>Package 2 </strong><span class="badge badge-danger">10$ Or Nitro Boosted- (2 Years)</span>
<br>Your bot will be on Promoted Bots Page.
<br>Your server will be on Premium Servers Page.
<br>Will be added on Partners Page.
<br><strong>Package 3 </strong><span class="badge badge-danger">20$ Or 2xNitro Boosted- (2 Years)</span>
<br>Your bot will be on Promoted Bots Page.
<br>Your server will be on Premium Servers Page.
<br>Will be added on Partners Page.
<br>Will Be On The Top Header.
</p>
<br>
<center>
<h5 style="color:white; text-shadow: 2px 2px 5px black;" translate="no" color="" id="fat">Promotion Benefits
</h5>
</center>
<p class="text-muted">
<br>For bots
<br>A special role on our Discord server to let people know that it's Promoted.
<br>A special badge( <span data-tooltip="Promoted Bot" data-tooltip-location="top">
<i class="fas fa-stars has-text-warning" style="font-size: 20px;"></i>
</span>) on your bot card to let people know that it's Promoted.
<br><br>For Promoted users
<br>A special role on our Discord server to let people know that you have Promoted.
<br>A special badge( <span data-tooltip="Promoted Developer" data-tooltip-location="top">
<i class="fas fa-stars has-text-warning" style="font-size: 20px;"></i></span>) on your profile to let people know that you have Promoted.
<br>A special role on our Discord server to let people know that you have Premium.
<br>A special badge( <span data-tooltip="Premium Server Owner" data-tooltip-location="top">
<i class="fad fa-bahai has-text-success" style="font-size: 20px;"></i></span>) on your profile to let people know that you have Premium.
</p>
<br>
</div>
    <center>
    <button onclick="location.href='/dc'" class="btn btn-back"><i class="fad fa-check"></i>&nbsp;Contact The Owner to pay</button>
    </center>
</div>

<br><br><br>

<style>
    .footers li a, .footer-link {
        color: rgb(156, 156, 156);
    }
    .footers li a:hover, .footer-link:hover {
        color: #7289da;
    }
</style>
<
<style type="text/css">
a.gflag {vertical-align:middle;font-size:16px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/16.png);}
a.gflag img {border:0;}
a.gflag:hover {background-image:url(//gtranslate.net/flags/16a.png);}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}
</style>





 
            </li>
    </ul></div>
    </div>
  </div>


        </center>
   </div>
<script src="./js/socket.js"></script>
<!-- FOOTEr -->

<script>
    console.log("%cBEKLE !!!","color: red; font-size: 60px");
    console.log("%cNe yaptığını bilmiyorsan burayı hemen kapat!","color: green; font-size: 20px");
</script>
<!-- SCRIPTS -->
<style>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
          tippy('.tippy', {arrow: true,animation: 'scale',});
    </script>


</div></section></div></div>
<%- include('parts/foot') %>